{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="navbar">
    <p>IT IS YOUR PAGE.</p>
</div>

<div class="container">
    <div id="center-div">
        <table class="center-container">
            <tr>
                <td class="left-column">public ip: {{ ip }}<br> region: {{ region }}<br> isp: {{ isp }}<br>Weather: {{ location }}, {{ description }}<br>Temp: {{ temperature }}</td>
                <td class="center-column"></td>
                <td class="right-column"><img src="{{ url_for('static', filename='images/officeimage.png') }}" /></td>
            </tr>
        </table>
        
        <iframe src="https://duckduckgo.com/search.html?focus=yes&prefill=www.creedthoughts.gov.www/creedthoughts" frameborder="0"></iframe>

        <table class="content-table">
            <thead>
                <tr>
                    <th>self hosted</th>
                    <th>search</th>
                    <th>links</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td><a href="https://pihole.home/admin">Pihole</a></td>  
                        <td><a href="https://www.duckduckgo.com">Duckduckgo</a></td>
                        <td><a href="https://www.youtube.com">Youtube</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://bookstack.home">Bookstack</a></td>
                        <td><a href="https://whoogle.home">Whoogle</a></td>
                        <td><a href="https://github.com">Github</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://grafana.home">Grafana</a></td>
                        <td><a href="https://www.google.com">Google</a></td>
                        <td><a href="https://gitlab.com">Gitlab</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://pfsense.home">Pfsense</a></td>
                        <td></td>
                        <td><a href="https://www.reddit.com">Reddit</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://nessus.home">Nessus</a></td>
                        <td></td>
                        <td><a href="https://robinhood.com/">Robinhood</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://ddwrt.home">Ddwrt</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="https://nextcloud.home">NextCloud</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="https://proxmox.home">proxmox</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                
            </tbody>
        </table>
    </div>
</div>

<div id="footer">
    <div id="footertext">Coming Soon - That's What She Said &copy; 2005-13</div>
</div>

{% endblock %}
