{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="navbar">
    <p>IT IS YOUR PAGE.</p>
</div>

<div class="container">
    <div id="center-div">
        <table class="center-container">
            <tr>
                <td class="left-column">public ip: {{ ip }}<br> region: {{ region }}<br> isp: {{ isp }}<br>Weather: {{ location }}, {{ description }}<br>Temp: {{ temperature }}</td>
                <td class="center-column"></td>
                <td class="right-column"><img src="{{ url_for('static', filename='images/officeimage.png') }}" /></td>
            </tr>
        </table>
        
        <iframe src="https://duckduckgo.com/search.html?focus=yes&prefill=www.creedthoughts.gov.www/creedthoughts" frameborder="0"></iframe>

        <table class="content-table">
            <thead>
                <tr>
                    <th>self hosted</th>
                    <th>search</th>
                    <th>links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://pihole.home/admin">pihole</a></td>
                    <td><a href="https://www.duckduckgo.com">duckduckgo</a></td>
                    <td><a href="https://www.youtube.com">youtube</a></td>
                </tr>
                <tr>
                    <td><a href="https://bookstack.home">bookstack</a></td>
                    <td><a href="https://whoogle.home">whoogle</a></td>
                    <td><a href="https://github.com">github</a></td>
                </tr>
                <tr>
                    <td><a href="https://grafana.home">grafana</a></td>
                    <td><a href="https://www.google.com">google</a></td>
                    <td><a href="https://gitlab.com">gitlab</a></td>
                </tr>
                <tr>
                    <td><a href="https://pfsense.home">pfsense</a></td>
                    <td></td>
                    <td><a href="https://www.reddit.com">reddit</a></td>
                </tr>
                <tr>
                    <td><a href="https://nessus.home">nessus</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="https://ddwrt.home">ddwrt</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="https://portainer.home">portainer</a></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><a href="https://esxi.home">esxi</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer">
    <div id="footertext">Coming Soon - That's What She Said &copy; 2005-13</div>
</div>

{% endblock %}
